<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" placeholder="아이디를 입력해주새요">
    <input type="password" placeholder="아이디를 입력해주새요">
    <div>안녕하세요</div>
</body>
</html>