<!DOCTYPE html>
<h<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <input type="text" placeholder="아이디를 입력해주세요">
        <input type="password" placeholder="비밀번호를 입력해주새요">
        <button type="로그인">로그인</button>
    </body>
    </html>